:root {
    --color-light: #e5e5e5;
    --color-light-gray: #c7c9ca;
    --color-light-text: #1f2020;
    --color-light-link: #314a55;
    --color-light-nav: #4b7688;
    --color-dark-nav: #02151d;

    --color-load: linear-gradient(225deg, #D6D6D6 0%, #9EA3AA 100%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    border-radius: none;
    background: none;
    box-sizing: border-box;
    font-family: Roboto;
}

.load {
    background: var(--color-load);
}

body {
    background-color: var(--color-light);
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    color: var(--color-light-link);
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
