.description {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin: auto;

    margin-top: 2rem;
    padding: 1rem;
    padding-right: 2.5rem;
    border-radius: 5rem;

    width: fit-content;
    background-color: var(--color-light-gray);
}

.description img {
    width: 120px;
    height: 120px;
    border-radius: 4rem;
}

.description h3 {
    margin-left: 1rem;
}

.social-media {
    display: flex;
    flex-direction: row;

    width: fit-content;

    align-items: center;
    margin: auto;

    margin-top: 10rem;
}

.social-media img {
    height: 3.5rem;
    width: 3.5rem;
}

.social-media a + a {
    margin-left: 1.5rem;
}