<div class="description">
    <img class="load" src="https://github.com/miguel-coruj.png" alt="">
    <h3>
      Sou um programador full stack,
      <br>
      No momento estou fazendo um bot para discord,
      <br>
      o <a target="_blank" rel="noreferrer" href="https://bipbup.herokuapp.com/">BipBup</a>
    </h3>
  </div>

<div class="social-media">
    <a target="_blank" rel="noreferrer" href="https://github.com/Miguel-Coruj">
        <img src="../../assets/icons/github.svg" alt="github">
    </a>
    <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/miguel-coruj">
        <img src="../../assets/icons/linkedin.svg" alt="linkedin">
    </a>
    <a target="_blank" rel="noreferrer" href="https://twitter.com/miguelbraido">
        <img src="../../assets/icons/twitter.svg" alt="twitter">
    </a>
</div>